@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "JetBrains Mono", monospace;
    outline: none;
}

header {
    padding: 32px;
    background-color: rgb(75, 80, 80);
    width: 100%;
    position: absolute;
    top: 0;
}

header nav {
    text-align: center;
}

header nav a{
    color: black;
    margin-right: 10px;
    font-size: 30px;
    font: bold;
}

header nav a:hover{
    color: white;
}

.content {
    width: 100%;
    display: flex;
    margin-top: 76px;
    flex-direction: column;
}

.publi {
    width: max-content;
    margin: 16px auto;
    display: flex;
    flex-direction: column;
    background-color: #333;
}

.publi h3 {
    color: #fff;
    margin: 8px;
}

.publi div {
    display: flex;
}

.publi img {
    width: 300px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}